@defer (on timer(150ms)) {
  <div
    class="tw-flex tw-h-full tw-w-full tw-flex-col tw-gap-y-6 tw-rounded-md tw-bg-white tw-p-4"
  >
    <div
      class="tw-flex tw-w-full tw-items-center tw-justify-between tw-pr-3 max-sm:tw-flex-col max-sm:tw-items-start max-sm:tw-gap-y-4 max-sm:tw-pr-0"
    >
      <span class="tw-text-xl tw-font-semibold">Transactions</span>
      <dropdown
        class="max-sm:tw-w-full"
        addCls="max-sm:tw-w-full"
        placeholder="Select type.."
        [dropList]="dropItemList()"
        [selectItem]="dropItemList()[0]"
        type="stroke"
        (dropListSelection)="chartSelection($event)"
      >
      </dropdown>
    </div>

    <div>
      <p-chart [type]="type()" [data]="data" [options]="options" />
    </div>
  </div>
} @placeholder {
  <div
    class="tw-flex tw-h-full tw-w-full tw-flex-col tw-gap-y-6 tw-rounded-md tw-bg-white tw-p-4"
  >
    <div
      class="tw-flex tw-w-full tw-items-center tw-justify-between tw-pr-3 max-sm:tw-flex-col max-sm:tw-items-start max-sm:tw-gap-y-4"
    >
      <span
        class="tw-h-9 tw-min-w-40 tw-animate-pulse tw-rounded-md tw-bg-gray-200"
      ></span>
      <div
        class="tw-h-10 tw-min-w-44 tw-animate-pulse tw-rounded-md tw-bg-gray-200"
      ></div>
    </div>

    <div
      class="tw-h-[428px] tw-w-full tw-animate-pulse tw-rounded-md tw-bg-gray-200"
    ></div>
  </div>
}
